.btn-on-dark {
  width: 152px;
  height: 56px;
  background-color: $white-color;
  color: $dark-grey-color;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-on-dark:hover {
  background-color: $light-peach-color;
  color: $white-color;
}

.btn-on-light {
  width: 152px;
  height: 56px;
  background-color: $peach-color;
  color: $white-color;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-on-light:hover {
  background-color: $light-peach-color;
}
